.About {
  padding: 16px;
  border: 2px solid #ddd;
  color: var(--text-color-secondary);
  border: 1px solid var(--background-color-light);
  box-shadow: 1px 5px 15px var(--background-color-light);
  
  border-radius: 15px;
}

.About a {
  color: var(--text-color-secondary);
}