.Posts {
  padding: 16px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Posts_section{
  min-width: 65%;
}

.AddPost_section{
  min-width: 35%;
  width: 100%;
}

.LoadMore_section {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .Posts {
    flex-direction: column;
  }

  .Posts_section{
    min-width: 100%;
  }

  .AddPost_section{
    min-width: 100%;
  }
  
}