.AccountRecettes {
  padding: 16px;
  border: 1px solid #ddd;
  margin: 10px;
  background-color: var(--background-color-light);
  border-radius: 15px;
}

.AccountRecettes .recettes_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.AccountRecettes .recettes_section .Recette {
  background-color: var(--background-color-super-light) !important;
  width: 60vw;
}