.AddRecetteForm {
  min-width: 130vh;
  min-height: 85vh;
  padding: 2rem;
  background-color: var(--primary-color-navbar);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.AddRecetteForm h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

/* Formulaire global */
.formRecette {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Conteneur principal des sections */
.formRecette > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* --- Section Texte --- */
.formRecette_sectionText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}

.formRecette_sectionText > div {
  display: flex;
  flex-direction: column;
}

.formRecette_sectionText label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

.p-inputtext, .p-multiselect-label{
  color: #333;
  width: 100%;
  padding: 0.5rem;
}

.formRecette_sectionDetails {
  display: flex;
  gap: 1rem;
  > div {
    width: 100%;
  }
}

.cookingTime {
  display: flex;
  gap: 1rem;
}

/* --- Section steps --- */
.step-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.step-container > input {
  width: 100%;
  flex: 1;
}

.steps-section > button {
  background-color: var(--secondary-color);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.add-step-btn {
  display: block;
  margin-top: 10px;
}

.add-step-btn:hover {
  background-color: var(--background-color-button-hover);
  color: white;
}

.delete-step-btn {
  background-color: var(--background-color-danger);
}

.delete-step-btn:hover {
  background-color: #c0392b;
}


/* --- Section Image --- */
.formRecette_sectionImage {
  text-align: center;
}

.formRecette_sectionImage label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* --- Bouton --- */
.formRecette_sectionButtons > button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formRecette_sectionButtons > button:hover {
  background-color: var(--background-color-button-hover);
  color: white;
}

.formRecette_sectionButtons {
  display: flex;
  justify-content: space-between;
}

/* --- Responsive Design --- */
@media (min-width: 768px) {
  .formRecette > div {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .formRecette_sectionText {
    flex: 1;
  }

  .formRecette_sectionImage {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
