.Filtre {
  padding: 16px;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--background-color-super-light);
}

.filtre_input{
  text-align: left;
}

.Filtre_type{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}