.Recette {
  height: 35vh;
  width: 30vh;
  margin: 1vh;
  position: relative;
  background-color: var(--background-color-light);
  border-radius: 15px;
  color: var(--text-color);
  transition: transform 0.2s ease-in-out;
  padding: 10px;
}

.Recette_request{
  background-color: var(--background-color-super-light);
}

.Recette:hover {
  transform: scale(1.02);
}

.Recette_header {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  text-align: left;
}

.Recette_likeButton {
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.Recette img {
  width: 100%;
  height: 50%;
}

.Recette h1 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.Recette .bouton_section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Recette_acceptButton{
  display: flex;
  justify-content: space-around;
}