.LegalMention {
  font-family: Arial, sans-serif;
  line-height: 1;
  color: var(--text-color-secondary);
  padding: 10px 0px;
  border-radius: 8px;
  margin: 10px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.LegalMention Link {
  color: var(--link-color);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.LegalMention Link:hover {
  color: var(--link-color-hover);
}

.legalMention-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}