.LegalMention {
  font-family: Arial, sans-serif;
  line-height: 1;
  color: #333;
  padding: 15px 0px;
  border-radius: 8px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.LegalMention a:hover {
  color: #0056b3;
  text-decoration: underline;
}