.Navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--primary-color-navbar);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boutons_user{
  display: flex;
  align-items: center;
  gap: 20px;
  max-height: 85px;
}

.button_darkMode{
  padding: 10px;
  max-width: 100px;
  max-height: 50px;
  margin: 10px;
}

.menu-item {
  position: relative;
}

.menu-title {
  display: none;
}

@media screen and (max-width: 768px) {
  .routing {
    display: none;
  }
  .menu-title {
    display: block;
  }
}