
/* Conteneur principal */
.RecetteDesc {
  margin: 1rem;
  padding: 20px;
  background-color: var(--primary-color-navbar);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recette-info{
  width: 30%;
}

.recette-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.recette-description{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

/* Bouton container */
.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-container-right {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin-right:10px;
}

.button-container-left {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin-left:10px;
}

.admin-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Info recette */
.recette-title{
  max-width: 70%;
}

.recette-info p{
  margin-bottom: 20px;
  text-align: left;
}

.recette-ingredients {
  background-color: var(--background-color-super-light);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.recette-ingredients ul {
  list-style-type: disc;
  margin-left: 20px;
}

.recette-ingredients li {
  font-size: 1rem;
  margin-bottom: 5px;
}

.recette-images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  img{
    width: 35vh;
    height: 15vh;
    object-fit: cover;
    border-radius: 15px;
  }
}

/* Section étapes */
.recette-steps{
  max-width: 60%;
  background-color: var(--background-color-super-light);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  p, h3{
    text-align: left;
  }

  ol{
    list-style-type: none;
    padding: 0;
  }
}

.recette_timing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  >p{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

/* Section vidéo */
.recette-video {
  margin-top: 20px;
}

.recette-video a {
  display: inline-block;
  font-size: 1rem;
  padding: 8px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.recette-video a:hover {
  background-color: #2980b9;
}

/* Loading message */
.RecetteDesc p {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .button-container-right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-right:10px;
  }

  .button-container-left {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin-left:10px;
  }

  .recette-title {
    max-width: fit-content;
  }

  .recette-description {
    flex-direction: column;
    gap: 20px;
  }

  .recette-info {
    width: 100%;
  }

  .recette-images{
    width: 80vw;
    flex-direction: row;
    gap: 20px;

    img{
      width: 15vh;
      height: 10vh;
    }
  }

  .recette-ingredients{

    ul{
      margin-left: 0;
    }
  }

  .recette-steps {
    max-width: 100% ;
  }
}