.Account {
  border: 1px solid #ddd;
  min-width: 115vh;
  min-height: 85vh;
  background-color: var(--background-color-super-light);
  border-radius: 15px;
}

.account-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel-left{
  width: 30%;
  height: 100%;
  border-right: 1px solid #ddd;
}

.panel-left ul{
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #ddd;
}

.panel-left ul li{
  padding: 10px;
}

.panel-left ul li a{
  text-decoration: none;
}

.info-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.panel-right{
  width: 70%;
  height: 100%;
}