.Post {
  padding: 16px;
  border: 1px solid #ddd;
  margin: 10px;
  min-height: 50vh;
  transition: transform 0.2s ease-in-out;
  background-color: var(--background-color-light);
  border-radius: 15px;
  color: var(--text-color);
}

.Post:hover {
  transform: scale(1.02);
}

.Post_likeButton {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.Post_likeButton:hover {
  transform: scale(1.05);
}