.AdminPanel {
  display: flex;
}

.admin-content {
  padding: 20px;
  width: 150vh;
}

@media screen and (max-width: 768px) {
  .AdminPanel {
    flex-direction: column;
  }

  .admin-content {
    width: 100%;
  }
}