.AdminPanel {
  display: flex;
  background: var(--background-color-light);
}

.admin-content {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .AdminPanel {
    flex-direction: column;
  }
}