#root {
  max-width: 1200px;
  text-align: center;
  padding-top: 5em;
  margin: 0 20%;
}

@media (max-width: 768px) {
  #root {
    margin: 0 auto;
  }
}

.wrapper {
  max-width: 1400px;  /* Ou ce que tu veux comme limite */
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}