:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #007bff;
  --secondary-color: #8896a2;

  --primary-color-navbar: #aeaeae;

  --background-color-danger: #9e000d;
  --background-color: #c7c7c7;
  --background-color-button-hover: #263b52;
  --background-color-secondary: #272727;
  
  --text-color: #252525;
  --text-color-secondary: #626262;

  --border-radius: 8px;
}

.dark-theme {
  --background-color: #1a1a1a;
  --background-color-secondary: #a1a1a1;

  --text-color: #ffffff;
  --text-color-secondary: #a5a5a5;

  --primary-color-navbar: #252525;
  
  --secondary-color: #8896a2;
  --background-color-button-hover: #263b52;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
    
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 1s ease, color 1s ease;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade.show {
  opacity: 1;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-color-secondary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.25s;
  color: var(--text-color);
}

button:hover {
  color: var(--text-color);
  background-color: var(--background-color-button-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}